.login {
  margin: 0rem;
  padding: 2.5rem 5rem;
}

.form {
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  /* Different from other form */
  width: 48rem;
  margin: 0rem auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: black;
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}

.crtbtn {
  background-color: var(--color-brand--2);
  align-self: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 7px;
}
